.giving-book{
    width: 85%;
    float: right;
    margin-top: 3%;
}
 .ui.form{
     width: 90% !important;
 }

.category__ImageContainer {
	width: 160px;
	height: 210px;
	margin: 0 auto
}

.category__Image {
	width: 100%;
	max-height: 100%
}

.categories {
    float: left;
    width: 190px;
    margin: 0px 3px 6px 3px;
    background-color: #F9F7F0;
    color: #181818;
    text-align: center
}