.giving-book{
    width: 85%;
    float: right;
    margin-top: 3%;
}
 .ui.form{
     width: 90% !important;
 }
 .leftContainerGiving {
    float: left;
    width: 900px !important;
    padding-right: 10px;
    padding-left: 8px;
}
.leftContainerGiving{
	padding-left: 8px
}
.leftContainerGiving {
	word-wrap: break-word;
}
.rightContainerGiving {
	margin-left: 8px
}
.rightContainerGiving {
	float: left;
	width: 300px;
	display: inline;
	margin-left: 8px
}