@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
//layout
@import "./layout/book-giving.scss";
@import "./layout/footer.scss";
@import "./layout/side-bar.scss";
@import "./layout/header.scss";
//component
@import "./component/cart-item.scss";
@import "./component/book-comment.scss";
@import "./component/book-item.scss";
@import "./component/bestbook.scss";
@import "./component/get-comment.scss";
@import "./component/author.scss";
//foundation
@import "./foundation/_mixin.scss";
@import "./foundation/_var.scss";

//pages
@import "./pages/_list.scss";
@import "./pages/_home.scss";

html,
body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

body,
p,
ol,
ul,
td,
th {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  padding: 0;
}

body {
  color: #181818;
}

body,
ol,
ul,
td,
th {
  font-size: 12px;
  margin: 0;
}
H1,
H2,
H3,
H4,
H5,
H6 {
	margin: 4px 0px 4px 0px;
	color: #aaa;
	font-weight: normal
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #382110;
	background-color: transparent
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
.container {
  width: 85%;
  float: left;
  margin-left: 10px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.cover-img {
  position: relative;
  overflow: hidden;
}

.cover-img img {
  height: 420px;
  width: 18%;
  transition: transform 2s;
}
.cover-img:first-child img {
  margin-top: 5%;
}
.cover-img:hover img {
  transform: scale(1.2);
}

.cover-img:hover .details {
  display: inline;
}

.details {
  height: 100%;
  width: 100%;
  display: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.details .content {
  position: relative;
  top: 20%;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom a,
button {
  margin: 5px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
@media screen and (max-width: 576px) {
  .cover-img img {
    padding: 0 30px;
    height: 400px;
  }
}
